body {
     font-family: Helvetica, Arial, sans-serif;
     background: #333745;
}

button {
     cursor: pointer;
}

p {
     font-size: 25px;
     color: white;
     text-align: center;
}

label {
     color: #a5afd7;
     font-size: 20px;
     text-align: center;
}

.header {
     background: #20222b;
     color: red;
     text-align: center;
     margin: auto;
     padding: 25px 25px;
}

.form {
     display: flex;
     align-content: center;
     align-items: center;
     flex-direction: column;
     margin: 5px;
}

.form-item {
     margin: 7px;
}

.submit-button {
     background: #8357c5;
     border: none;
     color: white;
     font-weight: bold;
     font-size: 1.6rem;
     padding: 2.4rem;
     width: 100%;
}

/* Get rid of arrows in textfield*/
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
}
/* Firefox */
input[type="number"] {
     -moz-appearance: textfield;
}
